@color-primary: #3023AD;
@gradient-primary: #3023AD;
@gradient-secondary: #2D54B1;
@color-border: #eaeaea;
@color-text: #333333;
@color-titleColor: #101C2D;
@color-linkColor: @color-primary;
@color-linkColorHover: darken(@color-linkColor, 20%);
@color-table-background: #f7f7f7;
@color-textLink: #008EFF;

@smartphone: ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";

@color-textLight: #9FA4AB;
@color-buttonSuccess: #6DD400;
